<template>
	<div>
		<!-- Data table to display the desperation rating data -->
		<v-container>
			  <v-data-table
			    :headers="headers"
			    :items="locationDesperations"			    
			    class="elevation-1"
			  >			
			  	<!-- Customising a specific table field slot in the scenario the actions field -->   
			    <template v-slot:item.actions="{ item }">			      
			      <v-icon
			        small
			        @click="confirmDelete(item)"
			      >
			        mdi-delete
			      </v-icon>
			    </template>
			    <template v-slot:no-data>
			      <v-btn
			        color="primary"
			        @click="initialize"
			      >
			        Reset
			      </v-btn>
			    </template>
			  </v-data-table>

		</v-container>

		<!-- Popup dialog to confirm user definitley wants to delete an item -->
		<v-dialog
	      v-model="dialog"
	      width="600"
	    >
	      <v-card
	      	light
	      >
	        <v-card-title class="headline">
	          Are you sure you want to delete this item?
	        </v-card-title>       

	        

	        <v-card-actions>
	        <v-row style="max-width: 600px;">
	        	<v-col cols="6">          
		          <v-btn
		          	block
		            color="green"	            
		            @click="deleteItem()"
		          >
		            Yes
		          </v-btn>
	          	</v-col>
	          	<v-col cols="6">
		          <v-btn
		          	block
		            color="red"	            
		            @click="cancelDelete()"
		          >
		            No
		          </v-btn>
		        </v-col>
		    </v-row>
	        </v-card-actions>
	      </v-card>
	    </v-dialog>

	    <!-- Overlay with a loading action to identify to the user something is happening -->
		<v-overlay :value="overlay">
	      <v-progress-circular indeterminate size="64"></v-progress-circular>
	    </v-overlay>

	</div>
</template>

<script>
	export default {
	    data: () => ({
	      dialog: false,	      
	      headers: [
	        { text: 'Location', value: 'location' },
	        { text: 'Comment', value: 'comment' },
	        { text: 'Desperation Rating', value: 'desperation' },
	        { text: 'Added at', value: 'created_at' },	        
	        { text: 'Actions', value: 'actions', sortable: false },
	      ],
	      locationDesperations: [],	 
	      overlay: false,	      
	      deleteItemId: '',     
	    }),

	    watch: {

	      /** Watches for a change and Displays the overlay when the overlay variable changes to true */
	      overlay (val) {
	        val && setTimeout(() => {
	          this.overlay = false
	        }, 1500)
	      },
	    },

	    created () {
	      this.initialize()
	    },

	    methods: {

	    	initialize () {	          

	    	  /** Requests all the table info defined in the LocationDesperationController index and stores in an array */	
	          axios.get('/api/locationDesperation').then(response => {
	          	this.locationDesperations = response.data.data;	            
	          });	        	        
	      	},

	      	/** Sets the item to be deleted id and opens the popup dialog to get user confirmation or cancellation of delete */
	      	confirmDelete (item) {

	      		this.deleteItemId = item.id;
	      		this.dialog = true;

	      	},

	      	/** Empties the item id that was to be deleted ready for next use and closes the dialog */
	      	cancelDelete () {

	      		this.deleteItemId = '';
	      		this.dialog = false;
	      	},

	      	/** Closes the confirmation dialog, starts the overlay to let the user know something is happening, sends the delete request to the destroy functon of the LocationDesperationController and then reloads the page with the exact correct database info */
	      	deleteItem () {
	      		this.dialog = false;
		        this.overlay = true;
        		axios.delete('/api/locationDesperation/'+this.deleteItemId)
        		.then(response=>console.log(response.data));
        		setTimeout(() => this.initialize(), 1501);
		    },

	    }
	}

</script>

<style>
</style>
