<template>
	<div>
		<v-container>
			<!-- Header title to give a bit of context -->
			<v-row class="justify-center mt-8">
				<h1> JFD - New Developer Test </h1>
			</v-row>

			<!-- Paragraph to explain to the user what is required -->
			<v-row>
				<v-col cols="12">
					Local lockdowns are preventing people going out. We wish to capture the first place that
					you are going to go when you are finally allowed out and how desperate you are to go there. Please fill the form out below including the location you will first visit and a desperation rating from 1 to 5, 1 being not desperate at all and 5 being extremely desperate.
				</v-col>


				<!-- Form -->
				<v-col cols="12">
					<v-row>
						<v-form
			              ref="form"
			              v-model="form"
			              style="width: 100%;"              	                    
			            > 
			            	<!-- Select/dropdown to allow fixed options for location -->
			            	<v-col cols="12">
			            		<v-select
			            		  v-model="userItem.location"
						          :items="locations"
						          label="Location"
						          :rules="[rules.required]"
						        ></v-select>
			            	</v-col>

			            	<!-- Text area to allow suitable amount (300) of character comments -->
			            	<v-col cols="12">
			            		<v-textarea
			            		  v-model="userItem.comment"						          
						          label="Comment"
						          rows="5"
						          counter="300"
						          :rules="[rules.comment_count]"						          
						        ></v-textarea>
			            	</v-col>

			            	<!-- Radio buttons to select rating, could have used a slider, check box or select/dropdown -->
			            	<v-col cols="12">
			            		Desperation Rating:
			            		<v-radio-group
							      v-model="userItem.desperation"
							      column
							      :rules="[rules.required]"
							    >							    
							      <v-radio
							        label="1 - Not Desperate"
							        value="1"
							      ></v-radio>
							      <v-radio
							        label="2"
							        value="2"
							      ></v-radio>
							      <v-radio
							        label="3"
							        value="3"
							      ></v-radio>
							      <v-radio
							        label="4"
							        value="4"
							      ></v-radio>
							      <v-radio
							        label="5 - Extremely Desperate"
							        value="5"
							      ></v-radio>
							    </v-radio-group>
			            	</v-col> 

			            	<!-- Submit form button - validating before we submit -->
			            	<v-col cols="12">
			            		<v-btn tile block x-large color="blue" @click="validateBeforeSubmit()"> Submit </v-btn>
			            	</v-col>          	




			            </v-form> 
		        	</v-row>
				</v-col>
			</v-row>
		</v-container>

		
		<!-- Snackbar to show error or success messages to the user -->
		<v-snackbar
	      v-model="snackbar"
	      :color="snackbarColor"   
	      width="600"   
	    >
	      <v-row v-if="errorSnackbar" v-for="error in errors">
	      	{{ error }}
	      </v-row>

	      <v-row v-if="successSnackbar">
	      	{{ response }}
	      </v-row>

	      <template v-slot:action="{ attrs }">
	        <v-btn
	          color="white"
	          text
	          v-bind="attrs"
	          @click="snackbar = false"
	        >
	          Close
	        </v-btn>
	      </template>
	    </v-snackbar>
	</div>
</template>

<script>
	export default {
        
        name: 'HomeContent',

        data: () => ({	

          /** Validation rules */      
	      rules: {       
		    required: v => !!v || 'This field is required',
		    comment_count: value => (value || '').length <= 300 || 'Max 300 characters - please shorten your comment',		    
		  },		    
		  form: false,    

		  /** Location data */  
	      locations: ['Cinema', 'Pub', 'Restaurant', 'Cleeve Hill Golf Course', 'Countryside', 'Swimming Pool'],

	      /** Form (v-model) data variables */
	      userItem: {
	      	location: '',
	      	comment: '',
	      	desperation: '',
	      },
	      newErrors: [],
	      errors: [],
	      response: '',
	      snackbar: false,
	      errorSnackbar: false,
	      successSnackbar: false,
	      snackbarColor: '',

	    }),

	    methods: {


	    	/** Validation before submitting method if success run the save method if un-successful display and error message */
	    	validateBeforeSubmit() {

	    		if(this.$refs.form.validate() == true){

	            this.save();

		        } else {
		        	this.snackbarColor ="red"
		        	this.errors[0] = "Please check the form for errors."
		        	this.errorSnackbar = true;
		        	this.snackbar = true;
		        }

	    	},

	    	/** Save the form - send the data to the controller to store the data - then listen for a response and display to the user */
	    	save() {

	    		axios.post('/api/locationDesperation', this.userItem)
	            .catch(error => 
	            {
	              if(error.response.status == 422)
	                {
	                  this.newErrors = error.response.data.errors;
	                  this.newErrors = Object.values(this.newErrors);

	                  for( var i = 0; i < this.newErrors.length; i++ ){                  
	                    this.errors[i] = this.newErrors[i][0].replace('title.'+i, i+1);
	                  }
	                  this.snackbarColor ="red"		        	  
		        	  this.errorSnackbar = true;
		        	  this.snackbar = true;	                  
	                }
	            })
	          .then((response) => 
	            {
	                  this.response = response.data;
	                  this.snackbarColor ="green"		        	  
		        	  this.successSnackbar = true;
		        	  this.snackbar = true;
		        	  this.$refs.form.reset();                  
	            });

	    	},

	    },
	};
</script>

<style>
</style>
