<template>
  <v-app id="inspire">

    <!-- Left navigation -->
    <v-navigation-drawer
      v-model="drawer"
      app
      clipped
    >

      <!-- List of route links and function buttons complete with an identifiable icon -->
      <v-list dense>
        <v-list-item link to="/admin">
          <v-list-item-action>
            <v-icon>mdi-view-dashboard</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Dashboard</v-list-item-title>
          </v-list-item-content>
        </v-list-item>        

        <v-list-item @click="logout">
          <v-list-item-action>
            <v-icon>mdi-power</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Logout</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        


      </v-list>
    </v-navigation-drawer>

    <!-- Main header bar -->
    <v-app-bar
      app
      clipped-left
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title>JFD - Web Developer Test - Admin</v-toolbar-title>
    </v-app-bar>

    <!-- Main Vue-router display -->
    <v-main>

      <router-view :user="user"></router-view>
      
    </v-main>

    <!-- Footer -->
    <v-footer app>
      <span>Matthew King Freelance &copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script>
  export default {
    props: {
      source: String,
      user: Object,
    },

    data: () => ({
      drawer: null,
      drawer: null,
      
      
    }),

    created () {
      this.$vuetify.theme.dark = true
    },

    methods: {        

        logout() {
                axios.post('/logout').then(response => {
                    this.window.location.href = "login"

                }).catch(error => {
                    location.reload();
                });
        },

            
    },
  }
</script>