<template>
   
    <v-app>
        <!-- Header toolbar -->
        <v-app-bar color="transparent" app absolute flat>   
          <v-container class="header-container">
            <v-row>
              <!-- Header logo within a column -->
              <v-col cols="12" md="2">
                <v-img
                  src="/storage/JFDlogo.png"
                  height="60"
                  width="60"
                >
                </v-img>
              </v-col>

              <!-- Spacer component to fill the space and push all content right hereafter -->
              <v-spacer></v-spacer>

              <!-- Button to login and view the data table of inputted data -->
              <v-col cols="12" md="2">
                <v-btn text to="/admin" class="site-nav__link">View comments</v-btn>              
              </v-col>



            </v-row>
              
          </v-container>       
        </v-app-bar>

        <!-- Main app container with routes powered via vue-router -->
        <v-main>
          <router-view :key="$route.path"></router-view>          
        </v-main>
        
        
        <!-- Page Footer -->
        <v-footer                             
          tile         
          color="white"  
          class="text-right"                                  
        >
          <v-container>
            <div class="site-foot__inner">
              &#169; {{ new Date().getFullYear() }} — King Of Web Designs
            </div>                
          </v-container>
        </v-footer>
            
          
        
      
    </v-app>
  
  
</template>

<script>
  
</script>
<style>

/** Some styling to mimick part of the jfd website - stopped when i read css was not important */
.header-container {
  padding: 30px 0 0;
}

.site-foot__inner {
  padding: 20px 0 40px;
  border-top: 1px solid #ddd;
  font-size: .8rem;    
  line-height: 1.12rem;
  color: #595a5b;
  font-weight: 300;
}

</style>